@{
    Layout = "../Shared/_LayoutUser.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicio</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel=" stylesheet" href="~/Content/Base.css" />
</head>
<body>

    <h2></h2>

</body>
</html>

