
@{
    ViewBag.Title = "Contact";
    Layout = "../Shared/_Layout.cshtml";}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel=" stylesheet" href="~/Content/Base.css" />
</head>
<body>
    <div class="container">
        <h1> Este es el trabajo final de Programacion 3 en ASP.NET MVC 5 </h1>
        <h3>
            By Lizandra Lissette Luciano Perez <br />
            Nurys Mabel Cardy Sanchez
        </h3>
    </div>
</body>
</html>